@import url('https://fonts.googleapis.com/css2?family-Nunito:wght@200;300;400;500;600&display=swap');

body {
     
     font-family: 'Numito', 'sans-serif';
     margin:0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     text-decoration: none;
     transition: all .2 linear;

    
    
    
    
}
html{
    font-size: 62.5%;
   overflow: scroll;
   background-color: rgb(17, 46, 103);


}
 /* .background1{
background-color: rgb(168, 201, 214);
background-image: linear-gradient(rgba(210, 214, 233, 0.8), #48dbcfad), url(wp3311457.jpeg);


} 

.background{
    background-color: rgb(43, 39, 39);
    background-image: linear-gradient(rgba(8, 19, 82, 0.8), #18216ead), url(wp3311457.jpeg);
    

}

.resume{
    border-radius: 20px;
    width: 705px;
    height: auto;
    vertical-align: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 15%;
   
}
.Sbmitform{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(14, 8, 97, 0.7), #2d3581), url(wp3311457.jpeg);
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 90%;
    max-width: 600px;

}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color:#fff;
    background: transparent;
    font-size: 15px;
    margin-bottom: 30px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
    
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:focus~label{
    top: -35px;
    font-size: 14px;
}
button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 105%;
    cursor: pointer;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
     
}
.row .input-group{
    flex-basis: 48%;
}
nav {
    width: 85%; 
    height: 50px; 
    display: flex;
    align-items: center;
    padding: 20px 8%;
}



.L-n,.A-m,.C-m,.R-m{
    margin-right: 0px;
    cursor: pointer;
}
.B-m{
    cursor: pointer;
    color: turquoise;
}

li {
    margin: 15px 0px;
    color: black;
}

nav .logo,
.logos {
    margin-top: 20px;
    width:160px;
    cursor: pointer;
    margin-right: 20%;
    text-align: left;
    position: fixed;
    left: 0;

}
nav .logo1{
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: flex;
    justify-content: space-between;
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: rgb(112, 98, 78);
    color: white;
    cursor: pointer;
    display: flex;
    flex: wrap;
    display: space-between;

}
.info1{
    background-image: linear-gradient(rgba(0,0,0,0.7), #1021a0);
}
.about-me1{
    font-family: 'Montserrat', sans-serif ;
    text-decoration: transparent ;
    text-align: center;
    background-color: rgba(22, 30, 85, 0.7);
}
.P1{
    background-color: linear-gradient(rgba(16, 26, 95, 0.7), #19206d);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    
}



.hero{
 background: #7d838f; 
max-height: 500vh;
width: 100%;
color:rgb(15, 4, 66);
position: fixed;
padding: 14px 40px;
font-size: 22px;
font-family: 'cursive';
}
.hero1{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 700px;
    margin-top: 100px; 
}
.hero-info{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
    color: rgb(96, 136, 209);
    
}


.about-me1{
    width: 100%;
    height: 100%;
    color: rgb(116, 185, 122);

    margin: 20px;
    display:flex;
    justify-content: center; 
    
}

.avater{
    width: 600px;
    height:600px;
    border-radius: 140px;
    margin: 60px 30px 100px 300px; 
}
.info{
    margin: 30px;
    width: 300px; 
    display: flex;
    justify-content: center;
    
    
}
.info1{
    font-weight: 100;
    color:rgb(147, 144, 160);
    

}
.things{
    display: flex;
    justify-content: center;

}
.socials {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
   
}
#main{
    box-shadow: 10px 10px 5px rgb(71, 117, 75);
}
#name2{
    font-size: 250px;
    font-family: 'Shadows Into Light', 'cursive';
    margin-left: 5px;
    color: rgba(44, 27, 139, 0.781);
    align-items: center;
    margin-left: 150px;
    
    
}


.styled-break {
   width: 30px;
   height: 5px;
   background-color: burlywood;
   border-radius: 2.5px;
   margin: 30px 0 30px 0;
}
 .second{
    width:300px;
    height: 300px;
    background-color: red;
    margin: 5px;
} 

 



.test{
    height: 30px;
    width: 30px;
    background-color: red; 
    margin: 5px;

}

    

.button {
     background: rgb(39, 39, 65);
     background-color: #ff3cac;
     background-image: linear-gradient(
         225deg,
      #27d86b 20%,
       #1517aa 50%
        #4f2bd1 100%); 
        
     height: 100px;
     width: 500px;
     border-radius: 30%;
     border: 100%;
     outline: 0;
     cursor: pointer;
     display: block;
     padding-top: 10%;
    
     margin-bottom: 80%;
     margin-top: 20%;
     text-align: center;
     font-family: 'Roboto Mono';
      overflow: hidden;
     color: var(#1517aa);
     border-radius: 30px;
     box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39 , 200, 255, 0.5);
     transition: transform 0.3s ease, box-shadow 0.3s ease ; 
 
     
     
      margin: 350px 30px 0px 300px 
     
    
      
     
}
.btn-1{
     background: rgb(39, 39, 65);
     background-color: #ff3cac;
     background-image: linear-gradient(
         225deg,
      #0d9abd 0%,
       #1517aa 50%,
        #4f2bd1 100%);
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    text-align: center;
    position: relative;
    margin: 32px;
    color: rgb(116, 36, 36);
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 


}




 .button:hover{
    background-color: rgb(107, 12, 161);
}    

.button:active {
    box-shadow: inset -2px, -2px, 3px rgba(113, 29, 146, 0.6);
}

 .input-section{
    margin: 10px 0;
    display:flex;
}
.input-group{
    display:flex;
    flex-direction: column;
    margin: 0 5px 0 0;

} 
footer{
    font-family:Arial, Helvetica, Sans-serif;
    display: flex;
    justify-content: horizontal ; 
} 
 @media only screen and (max-width: 500px){
footer{background-color: blue;
}
    
}
.sbmit{
 text-align: center;
} 

.fa-solidfa-user{
    margin:3px;
}
a {
    text-decoration: none;
    color: rgb(157, 159, 187);
}
a:visited{
    color:rgb(163, 183, 201)
}
a:hover{
    color:rgb(43, 56, 82);
    
}
 a:active{
    color:purple;
}  */
section{
    padding: 5rem 15%;
}
 


.heading{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3.5rem;
    font-family: 'Shadows Into Light';
    text-transform: capitalize;
    color: rgb(255, 254, 254);
    text-decoration: underline;

    
}
.blog .rock-container{
    display: -ms-grid;
    display: grid;
   -ms-grid-row: var(minmax(30rem, 1fr))[auto];
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:2rem;
    /* display: flex;
    display: grid;
    flex-direction: column;
    gap: 2rem; */
}
.blog .rock-container .rock:hover .image img{
    transform:scale(1.1);
}
.blog .rock-container .rock.shadow{
     box-shadow: 0px 18px 39.1px 6.9px rgba(224,241,255, 0.34) !important;
}

.blog .rock-container .rock .image{
    height: 25rem;
    overflow: hidden;
    position: relative;
}
.blog .rock-container .rock .image img{
    height:100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: contain;
}
.blog .rock-container .rock .image h3{
    background-color: #fff;
    color: #444;
    position: absolute;
    top: 2rem;
    left: 1rem;
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 17px;
    
}
.blog .rock-container .rock .image  h3 i{
    color: #176024;
}
.blog .box-container .box .content{
    padding: 2rem;
    
    
}
.blog .box-container .box .content h3{
    font-size: 2rem;
    
    
}
.blog .box-container .box .content p{
     font-size: 1.5rem;
     padding: 1rem 0;
     line-height: 2;
     color: rgb(131, 85, 192);
     
}
.btn{
    display: inline-block; 
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: 0.1rem solid #03101e;
    background: #e0e0e0;
    color: #4f88c1;
    text-align: center;
    cursor: pointer;
    font-family: 'Numito';
    text-transform: capitalize;
}
.btn:hover{
    background-color: #bd18b4;
    color:#ffeeff;
}
.Mway{
    font-size: 20px;
    color:whitesmoke;
    margin-left: 40%;
    font-weight: bold;
    

}
.Theway{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 40%;

}
.zeway{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 40%;
}
.way{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 40%;
}
p{
    font-size: 20px;
    margin-left: 12%;
    color:whitesmoke;
}